*{
    font-family: 'Readex Pro', sans-serif;
}

.role--selection {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 1, 23, 0.5); 
    border-radius: 15px;
    padding: 20px;
    align-items: center;
}

.role--login{
    color: rgba(230, 246, 125, 1);
    padding: 20px;
}

.role--button{
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
    width: 100%;
    border: 0px;
    background-color: rgb(183, 221, 243);
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 15px;
}

.role--bofficer{
    cursor: pointer;
}

.role--collector{
    cursor: pointer;
}

.role--register, .role--register .role--register-button{
    margin-top: 20px;    
    font-weight: bolder;
    color: white;
}

.role--register-button{
    text-decoration: underline;
    cursor: pointer;
}

.role--register-button:hover{
    color: #18EF21;
}


.role--button {
    color: #FFFFFF;
    background-color: #4CAF50;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    margin: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #4CAF50;
}

.role--container{
    text-align: center;
}



