html::-webkit-scrollbar {
  display: none;
}
.TA--container {
  height: calc(100% - 10px);
  margin-top: 10px;
}
.TA--MCP {
  padding: 0 5px 5px 5px;
  margin-top: 10px;
  height: calc(100% - 60px);
  position: relative;
  display: flex;
  flex-direction: column;
}
.TA--MCP::-webkit-scrollbar {
  display: none;
}
.TA--MCP > div{
  width: 100%;
    /* height: 100%; */
  overflow-y: scroll;
  padding: 0 10px 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  flex: 1 1;
}
.TA--MCP div::-webkit-scrollbar {
  display: none;
}
.TA--search--container {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 20px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 46px;
}

.TA--search--container form {
}
.TA--search--input {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 100%;
}

.TA--search--input::-webkit-search-cancel-button {
  background-color: gray;
}
.TA--search--input:focus {
  outline: none;
}   
.TA--search--btn {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.TA--MCP--display {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 30px;
  /* margin-bottom: 15px; */
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffecc5;
  position: relative;
}

.TA--MCP--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.TA--MCP--info h2 {
  font-weight: bolder;
}

.TA--MCP--img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  right: 70px;
  position: absolute;
}

.TA--MCP--assign {
  right: 10px;
  position: absolute;
  width: 60px;
  height: 60px;
  border: none;
  background-color: inherit;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
}
input[type="checkbox"] {
  border-radius: 50%;
}

/* .TA--MCP--display button:hover{
    cursor: pointer;
    color: #18EF21;
} */
.TA--assignBtn{
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 30px;
    background-color: #4CAF50;
    border: 1px solid;
    text-transform: uppercase;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    /* margin-left: 10%; */
}
.TA--assignBtn:hover{
    cursor: pointer;
    opacity: 0.4;
}