*{
    font-family: 'Readex Pro', sans-serif;
}

.login--account{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 1, 23, 0.5); 
    border-radius: 15px;
    padding: 20px;
    align-items: center;
}
.login--input{
    background-color: #B1FDB0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    width: 300px;
    border-radius: 30px;
    height: 50px;
    color: black;
    text-indent: 10px;
    border:none
}


.login--button{
    color: #FFFFFF;
    background-color: #4CAF50;
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    margin: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #4CAF50;
    width: 60%;
}

.login--button:hover {
    background-color: #FFFFFF;
    color: #4CAF50;
    
}

.login--User{
    margin-top: 20px;
}

.login--incorrect{
    color: red;
}
.login--correct{
    color: #18EF21;
}

.login--input:focus{
    outline: none;
    background-color: #196346;
}

.login--input:focus::placeholder{
    color: white;
}