@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

.register--selection {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2; 
    border-radius: 20px;
    padding: 40px;
    align-items: center;
    width: 30%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.register--container .uwc--background {
    max-height: 100vh;
}

.register--container {
    max-height: 100vh;
    overflow: auto;
    text-align: center;
}

.register--selection h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px;
    color: #333333;
}

.register--selection form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register--selection input[type=password],
.register--selection input[type=email] {
    padding: 15px;
    margin: 10px 0;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    background-color: #FFFFFF;
    color: #333333;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.register--selection input[type=password]:focus,
.register--selection input[type=email]:focus {
    outline: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.register--selection input[type=password]:focus::placeholder,
.register--selection input[type=email]:focus::placeholder {
    color: #B1B1B1;
}

.register--button {
    color: #FFFFFF;
    background-color: #4CAF50;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.register--button:hover {
    background-color: #FFFFFF;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.register--paragraph {
    font-size: 14px;
    margin-top: 20px;
    color: #666666;
    line-height: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
}

.make--better {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F5F5F5;
}

.register--form{
    width: 340px;
}

