@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

.register--selection {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 1, 23, 0.5); 
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    min-width: 600px;
}

.register--selection form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register--selection input[type=password],
.register--selection input[type=email] {
    padding: 15px;
    margin: 8px;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    background-color: rgb(203, 252, 203);
    color: black;
    width: 60%;
}

.register--selection input[type=password]:focus,
.register--selection input[type=email]:focus {
    outline: none;
    background-color: #196346;
    color: white;
}

.register--selection input[type=password]:focus::placeholder,
.register--selection input[type=email]:focus::placeholder {
    color: #FFFFFF;
}


.register--button {
    color: #FFFFFF;
    background-color: #4CAF50;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    margin: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bolder;
    border: 2px solid #4CAF50;
}

.register--button:hover {
    background-color: #FFFFFF;
    color: #4CAF50;
    
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.open--paragraph{
    color: white
}

.register--policy{
    color: white;
}