.Profile--container {
    z-index: 2;
    right: 0;
    position: absolute;
    margin: 1rem;
}

.Profile--showBtn {
    height: 36px;
}

.Profile--showBtn button {
    border-radius: 10px;
    padding: 13.75px 10px;
    border: none;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #4CAF50;
}

.Profile--showBtn button:hover {
    opacity: 70%;
    cursor: pointer;
    background-color: #D8D8D8;
}

.Profile--Display {
    width: 450px;
    height: 400px;
    background-color: white;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Profile--navbar {
    height: 58px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #4CAF50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Profile--section {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 30px;
}

.Profile--section--component {
    font-size: 30px;
    border: none;
    width: 93px;
    height: 100%;
    padding: 10px;
    color: white;
}

.Profile--section--component:hover {
    opacity: 70%;
    background-color: #D8D8D8;
    cursor: pointer;
    border-radius: 15px;
}

.close-btn {
    background-color: #4CAF50;
    border: none;
    width: 52px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.close-btn:hover {
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
}

#chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.sent {
    background-color: #DCF8C6;
    float: right;
}
.received {
    background-color: #FFFFFF;
    float: left;
}