.detail--container{
    width: 560px;
    height: 450px;
    background-color:white;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    min-width: 400px;
}
.detail--header{
    height: 57px;
    background-color: #4CAF50;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}
.detail--question{
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.detail--closeBtn{
    position: absolute;
    display: inline;
    right: 0;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}
.detail--closeBtn:hover{
    background-color: #ff0000;
    cursor: pointer;
    border: 10px;
    opacity: 70%;
    border-radius: 10px;
    border-top-right-radius: 20px;
}
.detail--body{
    height: calc(100% - 57px);
    display: flex;
    flex-direction: column;
}
.detail--info{
    display: flex;
    flex-direction: row;
    height: 35%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.detail--img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail--img img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid #4CAF50;
}
.detail--contact{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 30px;
    border-left: 1px solid rgba(0,0,0,0.1);
    letter-spacing: 0.25px;
}
.detail--contact--info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail--task{
    height: 65%;
    display: flex;
}
.detail--select{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 20px;
}
.detail--select div{
    width: 100%;
    height: 35%;
    text-align: center;
    padding: 10px;
}
.detail--select h3{
    font-size: 16px;
}
.detail--select select{
    width: inherit;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
.detail--select select:focus{
    outline: none;
}
.detail--select select:hover{
    cursor: pointer;
}
.detail--display{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.detail--display h2{
    font-weight: 400;
    width: 100%;
    letter-spacing: 1px;
    height: 10%;
    text-align: center;
}
.detail--list{
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 15px;
    border-radius: 30px;
    overflow-y: scroll;
    padding: 10px;
}
.detail--list::-webkit-scrollbar{
    display: none;
}

.detail--list--mcp{
    padding: 5px;
    text-indent: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: #ffecc5;
}
.detail--list--mcp > h4{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.5px;
}